/* ================================= */
/* ==== ESTILOS COMÚNES WEBSITE ==== */
/* ================================= */
/* Reset de Estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: rgb(236, 236, 236);
}

/* ==== Custom Properties ==== */
/* Colores */
:root {
  --background: rgba(255, 255, 255, 1);
  --btn-primario: rgba(255, 255, 255, 1);
  --btn-secundario: rgba(255, 255, 255, 1);
  --btn-hover: rgba(255, 255, 255, 1);
  --texto-principal: rgba(255, 255, 255, 1);
  --texto-secundario: rgba(255, 255, 255, 1);
  --texto-terciario: rgba(255, 255, 255, 1);
  --sombra-fuerte: rgba(0, 0, 0, 1);
  --sombra-media: rgba(0, 0, 0, 0.7);
  --sombra-suave: rgba(0, 0, 0, 0.3);
}

/* Fuentes */
@font-face {
  font-family: "Title-Font";
  src: url("../assets/fonts/RubikGlitch-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
